{% load catalog_tags %}
<div class="card m-3 shadow-sm" style="width: 20rem;">
    <div class="card-img-top img-fluid "
            {#                         style="background: url({% if product.preview %}{{ product.preview.url }}{% else %}{% static 'img/no_photo.jpg' %}{% endif %}) no-repeat center center; background-size: cover; height: 400px;">#}
         style="background: url({% media_path product.preview %}) no-repeat center center; background-size: cover; height: 400px;">
    </div>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price|price_format }}</p>
        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
        <div class="d-grid gap-3 d-md-block mt-auto mx-auto">
            {% spaceless %}
                <a href="/product/{{ product.pk }}/">
                    <button class="btn btn-light" type="button">Подробнее</button>
                </a>
            {% endspaceless %}

            <button class="btn btn-light" type="button">В корзину</button>
        </div>
    </div>
</div>